/*
 * ========================
 * FIRM 
 * ========================
 */
.firm 
	padding-bottom: 110px

	&__title
		font: normal 30px/45px $font-second


	&--offset-none
		padding-bottom: 0

	&__inner
		display: flex
		align-items: flex-start
		justify-content: space-between

	&__col
		width: calc(50% - 22px)

	&__headline
		display: flex
		align-items: center
		justify-content: space-between
		margin-bottom: 30px

	&__catalog
		display: flex
		align-items: center

		&-icon
			width: 38px
			height: 44px
			fill: $color-primary
			margin-right: 16px

		&-link
			font-size: 14px
			line-height: 21px
			text-decoration: underline
			color: $color-primary

			&:hover
				text-decoration: none

	&__info

		&--offset
			+m-min(992px)
				padding-top: 57px
			
		&-subtitle
			margin-bottom: 10px
			font: normal 18px/21px $font-second
			text-transform: uppercase
			color: $color-primary

		&-text
			&:not(:first-child)
				margin-top: 35px

			&--bold
				font-weight: 700

		&-list
			padding-left: 18px

			li 
				list-style-type: disc

	&__slider
		overflow: hidden
		margin-bottom: 50px

		&--excursion
			+m-min(992px)
				margin-bottom: 0

		&-top,
		&-top-new
			position: relative
			overflow: hidden

		&-next,
		&-prev
			position: absolute
			top: 50%
			z-index: 1
			display: flex
			align-items: center
			justify-content: center
			width: 74px
			height: 74px
			background-color: fade-out($color-text, .5)
			transform: translateY(-50%)

			&:hover
				cursor: pointer
				opacity: .8

		&-next
			right: 0

		&-prev
			left: 0

			.firm__slider-arrow
				transform: rotate(-180deg)

		&-arrow
			width: 16px
			height: 28px
			fill: $white

		&-thumbs,
		&-thumbs-new

			.swiper-slide-thumb-active
				.firm__slider-thumb::after
					opacity: 1

		&-thumb
			position: relative
			+trs()

			&:hover
				cursor: pointer
				opacity: 0.8

			&::after
				content: ''
				position: absolute
				top: -10px
				left: 10px
				width: calc(100% - 20px)
				height: 10px
				background-color: $color-primary
				opacity: 0
				line-height: 0
				
		&-video
			position: relative
			padding-bottom: 56.25%
			height: 0
			overflow: hidden

			iframe
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 100%
				border-width: 0
				outline-width: 0

	&__card-certificate

		.card-certificate

			&__banner
				width: 178px
				height: 252px
				border: none

			&__title
				font-size: 16px
				margin-bottom: 10px
				font-weight: 700

			&__descr
				font-size: 16px


	+width-lg()

		&__title
			font-size: 24px
			line-height: 30px


	+width-md()
		padding-bottom: 80px

		&__title
			font-size: 20px
			line-height: 24px

		&__inner
			flex-direction: column

		&__col
			width: 100%

			&:first-child
				margin-bottom: 50px

		&__slider
			margin-bottom: 0

		&__info-text
			font-size: 14px
			line-height: 21px

			&:not(:first-child)
				margin-top: 20px


	+width-xs()
		padding-bottom: 60px

		&__title
			font-size: 18px
			line-height: 22px

		&__headline
			flex-direction: column
			align-items: flex-start

		&__catalog
			margin-top: 15px