/*
 * ========================
 * MODAL
 * ========================
 */
.modal 
	display: none
	width: 100%
	max-width: 660px
	padding: 40px 30px 30px 30px
	background-color: $white
	
	&__header
		padding-bottom: 50px
	
		&-title
			font: normal 20px/24px $font-second
			text-align: center
			letter-spacing: 0.05em
	
	&__body

	&__box-empty
		width: 100%
	
	&__box-input
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		align-items: flex-start

		.input,
		.upload-file
			width: calc(50% - 15px)
			margin-bottom: 36px

		.upload-file
			margin-bottom: 0

	&__textarea
		padding: 18px 25px
		height: 165px
		margin-bottom: 36px
	
	&__controls
		display: flex
		align-items: center
		justify-content: space-between

		&--centered
			flex-direction: column
			width: 280px
			margin: 0 auto 

			.modal__controls-btn,
			.modal__controls-checkbox
				width: 100%

			.modal__controls-btn
				margin-bottom: 20px

		&-btn,
		&-checkbox
			width: calc(50% - 15px)

		&-btn
			justify-content: center

	&__box
		display: flex
		align-items: flex-start
		justify-content: space-between

		& + .modal__subtitle
			margin-top: 50px

		&-inputs
			margin-bottom: 30px

			.input:not(:last-child)
				margin-bottom: 20px

		.radio-box:not(:last-child)
			margin-bottom: 30px

	&__subtitle
		margin-bottom: 17px
		font: normal 14px/17px $font-second
		letter-spacing: 0.05em
		color: $color-primary
	
	&__col
		width: calc(50% - 40px)

	&__textarea-lg
		height: 240px


	+width-lg()

		&__box

			& + .modal__subtitle
				margin-top: 30px

		&__col
			width: calc(50% - 20px)


	+width-sm()
		max-width: 550px

		&__header
			padding-bottom: 30px
		
			&-title
				font-size: 18px
				line-height: 22px

		&__box-input
			flex-direction: column

			.input,
			.upload-file
				width: 100%
				max-width: 100%
				margin-bottom: 25px

		&__textarea
			padding: 20px
			height: 100px
			margin-bottom: 25px

		&__controls
			flex-direction: column

			&-btn,
			&-checkbox
				width: 100%

			&-btn
				margin-bottom: 25px

		&__box
			flex-direction: column

			&-inputs
				margin-bottom: 20px

		&__col
			width: 100%

			// &:not(:last-child)
			// 	margin-bottom: 20px

	// === MODAL THANKS
	&--thanks
		padding: 0

		.modal

			&__header
				padding: 40px 30px 30px 30px

			&__body
				display: flex
				align-items: flex-end
				justify-content: center
				min-height: 400px
				padding: 30px
				background: url('../img/modal-thanks.png') center no-repeat 
				background-size: cover


	+width-sm()
		&--thanks

			.modal__body
				min-height: 250px


	// === MODAL QUIZ
	&--quiz
		max-width: 964px
		padding: 40px 60px 30px 50px

		.modal

		+width-lg()
			padding: 40px 30px 30px 30px