/*
 * ========================
 * GRID
 * ========================
 */
.wrapper
	width: 100%
	max-width: 1440px
	padding-left: 40px
	padding-right: 40px
	margin: auto
	// 1360 ширина рабочей области

	+width-lg()
		padding-left: 30px
		padding-right: 30px