/*
 * ========================
 * BREADCRUMBS 
 * ========================
 */
.breadcrumbs
	padding: 28px 0 50px

	&__list
		display: flex
		flex-wrap: wrap
		align-items: center

	&__item,
	&__delimiter
		font: 700 14px/21px $font-main

	&__delimiter
		padding: 0 5px


	+width-sm()
		&__item,
		&__delimiter
			font-size: 12px


			
