/*
 * ========================
 * INFO 
 * ========================
 */
.info 
	padding: 110px 0

	&__inner
		display: flex
		justify-content: space-between
	
	&__col
		width: calc(50% - 20px)
	
	&__header
		display: flex
		align-items: center
		margin-bottom: 28px

		&-h2
			margin-right: 30px
	
	&__body
		height: 100%
	
	&__events
		display: flex
		flex-wrap: wrap
		justify-content: space-between

		&-card
			position: relative
			min-height: 365px
			width: calc(50% - 20px)
			padding: 0 50px 50px 50px
			overflow: hidden
			background-position: center
			background-repeat: no-repeat
			background-size: cover
			+trs()

			&::after
				content: ''
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 100%
				background: linear-gradient(180deg, rgba(29, 29, 27, 0.8) 0%, rgba(29, 29, 27, 0) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2))

			&:nth-child(-n+2)
				margin-bottom: 40px

			&:hover
				transform: scale(1.02)

			&-date,
			&-descr
				position: relative
				z-index: 1

			&-date
				display: inline-block
				padding: 13px 20px
				margin-bottom: 30px
				background-color: $white
				font-size: 12px
				line-height: 14px
			
			&-descr
				display: block
				font-weight: 700
				font-size: 16px
				line-height: 27px
				color: $white
				+trs()

				&:hover
					color: $color-primary

	&__media
		display: flex
		flex-direction: column
		position: relative
		height: calc(100% - 76px)
		padding: 0 50px
		background: url('../img/media-banner.png') center no-repeat
		background-size: cover

		&::after
			content: ''
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%)
		
		&-list
			position: relative
			z-index: 1
			margin: auto 0
		
		&-item
			display: flex
			align-items: center

			&:not(:last-child)
				margin-bottom: 50px

			&:hover
				.info__media-icon
					fill: $color-primary

				.info__media-descr
					color: $color-primary
		
		&-icon
			flex-shrink: 0
			width: 55px
			height: 55px
			fill: $white
			margin-right: 30px
			+trs()
		
		&-descr
			font-size: 21px
			line-height: 1.2em
			color: $white
			+trs()


	+width-xlg()
		padding: 60px 0

		&__col
			width: calc(50% - 15px)

		&__header
			margin-bottom: 20px

		&__events-card
			width: calc(50% - 15px)
			min-height: 261px
			padding: 0 22px 20px 35px

			&-date
				padding: 9px 11px
				margin-bottom: 22px
				font-size: 9px

			&-descr
				font-size: 13px
				line-height: 22px

		&__media
			height: calc(100% - 54px)
			padding: 0 35px

			&-item
				&:not(:last-child)
					margin-bottom: 37px

			&-icon
				width: 39px
				height: 39px
				margin-right: 22px

			&-descr
				font-size: 15px


	+width-md()
		padding: 56px 0 50px

		&__inner
			flex-direction: column

		&__col
			width: 100%

			&:not(:last-child)
				margin-bottom: 50px

		&__header
			margin-bottom: 18px

		&__h2
			margin-right: 22px

		&__events-card
			min-height: 324px
			padding: 0 28px 20px 41px

			&:nth-child(-n+2) 
				margin-bottom: 30px

			&-date
				padding: 11px 12px
				margin-bottom: 25px
				font-size: 10px

			&-descr
				font-size: 14px
				line-height: 24px

		&__media
			height: calc(100% - 54px)
			padding: 105px 35px


	+width-xs()
		padding: 34px 0 50px

		&__header
			justify-content: space-between
			margin-bottom: 16px

		&__h2
			margin-right: 0

		&__events-card
			width: 100%
			min-height: 261px
			padding: 0 28px 20px 35px

			&:nth-child(-n+2) 
				margin-bottom: 0

			&-date
				padding: 9px 11px
				margin-bottom: 22px
				font-size: 9px

			&-descr
				font-size: 13px
				line-height: 22px

		&__media
			height: 100%
			padding: 56px 20px 38px 36px

			&-descr
				font-size: 14px


