/*
 * ========================
 * FOOTER  
 * ========================
 */
.footer 
	margin-top: 80px
	
	&__top
		position: relative
		background: url('../img/footer-bg.jpg') center no-repeat
		background-size: cover
		color: $white

		&::before
			content: ''
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			background: linear-gradient(0deg, rgba(29, 29, 27, 0.85), rgba(29, 29, 27, 0.85))
	
	&__inner
		position: relative
		display: flex
		justify-content: space-between
		align-items: flex-start
		padding: 74px 0 23px
	
	&__info
		width: 100%
		max-width: 379px
		margin-right: 50px

	&__logo
		margin-bottom: 30px

	&__contacts
		margin-bottom: 23px
	
	&__address,
	&__email,
	&__phone-link
		font-weight: 700
		line-height: 28px	

	&__address
		font-size: 14px

	&__email
		font-size: 15px

	&__phone
		display: flex
		align-items: center

		&-btn
			height: 40px
			font-size: 13px
			padding: 0 24px

		&-link
			margin-right: 14px
			font-size: 18px
			+trs()

			&:hover
				color: $color-primary
	
	&__partners

		&-title
			font: 700 15px/1 $font-main
			text-transform: uppercase
			color: #CECECE
	
		&-item
			margin-top: 9px
			line-height: 0
	
	&__menu
		display: flex 
		justify-content: space-between
		align-items: flex-start
		flex-wrap: wrap
		width: 100%
		max-width: 563px
		margin-right: 50px
	
		&-list
			margin-top: 54px
			width: calc(50% - 13px)
			// width: 100%

			&:nth-child(1),
			&:nth-child(3)
				max-width: 240px

			&:nth-child(2),
			&:nth-child(4)
				max-width: 297px
	
		&-title,
		&-link
			+trs()

			&:hover
				color: $color-primary

		&-title
			margin-bottom: 2px
			font: 700 15px/24px $font-main
			text-transform: uppercase

		&-item
			position: relative
			padding-left: 12px

			&::before
				content: ''
				position: absolute
				top: 12px
				left: 0
				width: 4px
				height: 4px
				border-radius: 50%
				background-color: $white

		&-link
			font-size: 14px
			line-height: 18px

	
	&__form
		width: 100%
		max-width: 658px
		padding: 41px 30px 63px
		border: 1px solid $white
	
		&-title
			font: normal 20px/24px $font-second
			letter-spacing: 0.05em
			text-align: center 
			margin-bottom: 60px

		&-box
			display: flex
			flex-wrap: wrap
			align-items: flex-start
			justify-content: space-between

		&-input,
		&-upload-file,
		&-btn
			width: calc(50% - 15px)

		&-input
			margin-bottom: 30px
			border-bottom-color: $white

			+input-placeholder()
				color: $white

		&-controls
			display: flex
			justify-content: space-between
			align-items: center
			margin-top: 20px

		&-btn,
		&-checkbox
			width: calc(50% - 15px)

		&-btn
			justify-content: center
			flex-shrink: 0
			padding: 0 30px

		&-checkbox
			input[type=checkbox] + label::before
				background-color: $white

			input[type=checkbox] + label::after
				border-color: $color-text

	&__bottom
		color: $white
		background-color: $color-text

		&-inner
			display: flex
			align-items: center
			justify-content: center
			padding: 10px 0
	
	&__copyright,
	&__author
		font-size: 14px

	&__copyright,
	&__social,
	&__author
		width: 33%

	&__social
		text-align: center
	
		&-item
			&:not(:last-child)
				margin-right: 38px

		&-icon
			width: 19px
			height: 19px
			fill: $white
			+trs()

			&:hover
				fill: $color-primary
	
	&__author
		display: flex
		align-items: center

		&-descr
			margin-right: 17px

			a 
				vertical-align: middle

		&-logo 
			line-height: 0


	+width-xlg()
		&__inner
			padding: 52px 0 16px

		&__info
			width: 100%
			max-width: 270px
			margin-right: 20px

		&__logo
			max-width: 244px
			margin-bottom: 20px

		&__contacts
			margin-bottom: 23px
		
		&__address,
		&__email,
		&__phone-link
			line-height: 20px	

		&__address
			font-size: 10px

		&__email
			font-size: 10px

		&__phone

			&-btn
				height: 33px
				font-size: 11px
				padding: 0 12px

			&-link
				font-size: 13px

				&:hover
					color: $color-primary
		
		&__partners
			max-width: 187px

			&-title
				font-size: 11px
		
			&-item
				margin-top: 7px
				line-height: 0
		
		&__menu
			max-width: 409px
			margin-right: 20px
		
			&-list
				margin-top: 54px
				width: calc(50% - 12px)
				max-width: 100%

				// &:nth-child(1),
				// &:nth-child(3)
				// 	max-width: 240px

				// &:nth-child(2),
				// &:nth-child(4)
				// 	max-width: 297px
		
			&-title,
			&-link
				+trs()

				&:hover
					color: $color-primary

			&-title
				font-size: 11px
				line-height: 1.2em

			&-item
				padding-left: 8px
				line-height: 16px

				&::before
					top: 9px
					left: 0
					width: 3px
					height: 3px

			&-link
				font-size: 10px
				line-height: 17px

		
		&__form
			width: 100%
			max-width: 473px
			padding: 28px 20px 45px
			border: 1px solid $white
		
			&-title
				font-size: 15px
				line-height: 18px
				margin-bottom: 43px

			&-input,
			&-upload-file,
			&-btn
				width: calc(50% - 15px)

			&-input
				margin-bottom: 30px
				border-bottom-color: $white

		&__bottom-inner
			padding: 5px 0

		&__copyright,
		&__author
			font-size: 10px

		&__social
			margin: 0 auto

			&-item:not(:last-child)
				margin-right: 25px

			&-icon
				width: 13px
				height: 13px

		&__author

			&-descr
				margin-right: 11px

			&-logo
				width: 46px


	+width-md()

		&__inner
			flex-wrap: wrap

		&__info,
		&__menu
			width: calc(50% - 30px)
			margin-right: 0
			margin-bottom: 36px

		&__form
			width: 100%
			max-width: 100%

		&__copyright,
		&__social,
		&__author
			width: auto

	
	+width-sm()

		&__inner
			flex-direction: column

		&__info
			width: 100%
			max-width: 100%
			margin-bottom: 50px

		&__menu
			display: none

		&__form
			position: relative
			width: 100%
			max-width: 100%
			padding: 37px 0 30px
			border: none

			&::after
				content: ''
				position: absolute
				top: 0
				left: -30px
				width: calc(100% + 60px)
				height: 1.5px
				background-color: $white
		
			&-title
				margin-bottom: 28px

			&-input,
			&-upload-file,
			&-btn
				width: 100%
				max-width: 100%

			&-controls
				flex-direction: column
				align-items: flex-start
				max-width: 216px
				margin: 0 auto


			&-btn, 
			&-checkbox
				width: 100%

			&-btn
				margin-bottom: 30px

			&-checkbox
				input[type=checkbox] + label
					font-size: 9px


		&__social

			&-item:not(:last-child)
				margin-right: 12px

		&__copyright,
		&__author
			font-size: 8px


	+width-xs()
		margin-top: 50px
		
		&__form::after
			left: -18px
			width: calc(100% + 36px)

		&__author

			&-descr
				display: none
	