/*
 * ========================
 * FORM-REQUEST
 * ========================
 */
.form-request 
	position: relative
	padding: 48px 0 101px
	background: url('../img/form-request-bg.png') center no-repeat
	background-size: cover

	&::after
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: linear-gradient(0deg, rgba(29, 29, 27, 0.85), rgba(29, 29, 27, 0.85))

	&__headline,
	&__form
		position: relative
		z-index: 1

	&__headline
		margin-bottom: 74px

	&__form
		padding: 57px 69px 67px 69px
		border: 1px solid $white