/*
 * ========================
 *  MAP
 * ========================
 */
.map 
	padding: 100px 0 42px
	margin-bottom: 110px
	background: url('../img/map-bg.png') center top no-repeat
	background-size: cover

	&__headline
		position: relative
		text-align: center
		z-index: 1

	&__body
		position: relative
		margin-top: -47px
	
	&__dealer

		&-header

		&-pin
			line-height: 0
		
		&-item
			position: absolute

			&.active
				.map__card-dealer
					width: 322px
					height: auto
					opacity: 1
					visibility: visible
					transform: translateY(0)

				.map__dealer-icon

					&--white
						display: none

					&--black
						display: block

			&:nth-child(1)
				left: 19.5%
				bottom: 53%

			&:nth-child(2)
				left: 13.4%
				bottom: 48.9%

			&:nth-child(3)
				left: 6%
				bottom: 50%

			&:nth-child(4)
				left: 16.8%
				bottom: 61%

			&:nth-child(5)
				left: 14.6%
				bottom: 58%
		
		&-icon
			width: 32px
			height: 39px


			&--white

			&--black
				display: none

			&:hover
				cursor: pointer

		&-headline
			display: none

	&__card-dealer
		position: absolute
		top: 7px
		left: calc(100% + 4px)
		z-index: 2
		opacity: 0
		visibility: hidden
		transform: translateY(20px)
		+trs(all, .45s, ease)


	+width-sm()
		padding: 50px 0 20px
		margin-bottom: 50px
		background-position: center bottom
		background-size: contain

		&__body
			display: flex
			flex-direction: column-reverse
			margin-top: 0

		&__banner
			img
				width: 100%
				object-fit: cover
		
		&__dealer
			padding-top: 15px

			&-header

			&-pin
				display: none

			&-headline
				display: flex
				align-items: center

				&-icon
					width: 46px
					height: 46px
					margin-right: 10px
					fill: #CECECE
					stroke: #CECECE
					+trs()

				&-title
					font-size: 14px
					line-height: 1.2em
			
			&-item
				position: relative

				&:not(:last-child)
					margin-bottom: 10px

				&.active
					.map__card-dealer
						width: 100%
						max-width: 450px
						height: auto
						padding-top: 12px !important
						opacity: 1
						visibility: visible
						transform: translateY(0)
						box-shadow: none

					.map__dealer-headline

						&-icon
							fill: $color-primary
							stroke: $color-primary
							transform: rotate(45deg)

						&-title
							font-weight: 500
							color: $color-primary

				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3),
				&:nth-child(4),
				&:nth-child(5)
					left: 0
					bottom: 0
			
			&-icon
				width: 32px
				height: 39px

				&--white

				&--black
					display: none

				&:hover
					cursor: pointer

		&__card-dealer
			position: static
			height: 0
			padding: 0 !important

			.card-dealer__close
				display: none
