/*
 * ========================
 *  MAP
 * ========================
 */
.map 
	padding: 100px 0 42px
	background: url('../img/map-bg.png') center top no-repeat
	background-size: cover

	&__headline
		position: relative
		text-align: center
		z-index: 1

	&__body
		position: relative
		margin-top: -47px
	
	&__dealer
		
		&-pin
			position: absolute

			&:nth-child(1)
				left: 9.5%
				bottom: -10%
		
		&-icon
			width: 32px
			height: 39px
