/*
 * ========================
 * HEADER 
 * ========================
 */
.header 
	position: fixed
	top: 0
	left: 0
	z-index: 11
	width: 100%
	padding-top: 14px
	border-bottom: 1px solid  #DEDEDE
	background-color: $white
	+trs()

	&--blur // home and product pages
		background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.65) 100%)
		backdrop-filter: blur(20px)
		border-bottom: none

	&--h-full
		height: 100%

	&--fixed
		padding: 0
		background: rgba(29, 29, 27, 0.8)
		backdrop-filter: blur(10px)
		border-bottom: none

		.header__menu--fix
			display: none

		.header__menu--scroll
			display: flex !important
			flex-wrap: wrap

			.header__menu

				&-item:not(:last-child)
					margin-right: 33px

				&-link
					font-size: 14px
					text-transform: none

		.header
			&__logo-black,
			&__phone,
			&__search,
			&__social,
				display: none

			&__mob-menu-social
				display: flex

			&__logo
				flex-shrink: 0
				max-width: 248px

				&-white
					display: block

			&__box
				margin: 0

			&__menu
				padding: 15px 0 15px 42px

				&-item
					padding: 5px 0

				&-link
					color: $white

			&__switch

				&-icon span
					background-color: $white

					&::before,
					&::after
						background-color: $white

				&-title
					color: $white

	// верхний отступ у последующих за шапкой блоков
	&:not(.header--blur) + section,
	&:not(.header--blur) + div
		margin-top: 108px

	&__inner
		position: relative
		display: flex
		align-items: center
		
	&__logo
		width: 100%
		max-width: 324px
		line-height: 0
		+trs()

		&:hover
			opacity: 0.8

		&-white
			display: none

	&__box
		margin-left: auto
		text-align: center

	&__phone
		margin-bottom: 13px

		&-number
			display: inline-flex
			align-items: center
			margin-right: 14px

			&:hover
				opacity: 0.6

			svg
				width: 21px
				height: 21px
				margin-right: 11px
				fill: $color-primary

			span
				font: 700 18px/1 $font-main
				color: $color-primary

		&-back-call
			font-size: 14px
			line-height: 1.4em

	&__menu
		display: flex
		padding: 0 10px

		&--scroll
			display: none !important	

		&-item
			position: relative
			padding-bottom: 14px

			&:not(:last-child)
				margin-right: 30px

			&:hover
				.header__menu-sublist
					visibility: visible
					opacity: 1
					transform: translateY(0)

		&-link
			font: 700 16px/1 $font-main
			text-transform: uppercase

			&.active
				color: $color-primary

			&:not(.active):hover
				text-decoration: underline

		&-sublist
			position: absolute
			top: 100%
			left: 0
			width: 597px
			padding: 25px 33px
			background-color: $white
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
			visibility: hidden
			opacity: 0
			transform: translateY(20px)
			+trs()

			&--sm
				width: 250px

		&-subitem
			display: flex
			align-items: center
			justify-content: space-between

			&:not(:last-child)
				margin-bottom: 21px

			&-img
				width: 100%
				max-width: 156px
				line-height: 0

		&-sublink
			width: 100%
			max-width: 356px
			font: 700 14px/17px $font-main
			text-transform: uppercase
			text-align: left
			+trs()

			&:hover
				color: $color-primary
				text-decoration: underline

	&__search

		&.active
			.header__search-body,
			.header__search-header::after
				visibility: visible
				opacity: 1
				transform: translateY(0)

		&-header
			position: absolute
			top: 3px
			right: 200px
			display: inline-flex
			align-items: center
			// margin-right: 99px

			&::after
				content: ''
				position: absolute
				top: 68px
				left: 20px
				width: 0
				height: 0 
				border-style: solid
				border-width: 0 17px 18px 17px
				border-color: transparent transparent rgba(29, 29, 27, .7) transparent
				backdrop-filter: blur(20px)
				visibility: hidden
				opacity: 0
				transform: translateY(20px)
				+trs()

			&:hover
				cursor: pointer

				.header__search-icon
					fill: $color-primary

				.header__search-text
					color: $color-primary

		&-icon
			width: 15px
			height: 16px
			fill: $color-text
			margin-right: 8px
			+trs()

		&-text
			font: 700 14px/1 $font-main
			+trs()

		&-body
			position: absolute
			top: 100%
			left: 0
			width: 100%
			padding: 23px 290px 23px 0
			background-color: rgba(29, 29, 27, 0.7)
			backdrop-filter: blur(20px)
			visibility: hidden
			opacity: 0
			transform: translateY(20px)
			+trs()

		&-box
			display: flex
			justify-content: flex-end

		&-input
			height: 40px
			max-width: 833px

		&-btn
			height: 40px
			font-size: 14px
			font-weight: 400


	&__social
		position: absolute
		top: 2px
		right: 0
		display: inline-flex
		align-items: center

		&-item

			&:not(:last-child)
				margin-right: 30px

		&-icon
			width: 15px
			height: 15px
			fill: $color-text
			+trs()

			&:hover
				fill: $color-primary

	&__switch
		display: none

	&__mob-menu
		display: none


	+m-max(1600px)

		&__logo
			max-width: 270px

		&__menu

			&-item

				&:not(:last-child)
					margin-right: 28px

			&-link
				font-size: 13px

		&__search

			&-header
				right: 160px


	+width-xlg()

		&:not(.header--blur) + section,
		&:not(.header--blur) + div
			margin-top: 104px

		&__logo
			max-width: 190px

		&__phone
			margin-bottom: 19px

			&-number

				svg
					width: 16px
					height: 16px

				span
					font-size: 13px

			&-back-call
				font-size: 16px

		&__menu
			display: flex
			padding: 0 10px

			&-link
				font-size: 13px

			&-sublist
				padding: 25px 20px

			&-subitem-img
				margin-right: 15px

			&-sublink

		&__search

			&-text
				font-size: 13px

			&-body
				padding: 23px 180px 23px 40px


	+width-lg()

		&__logo
			max-width: 150px

		&__menu
			&-item:not(:last-child)
				margin-right: 20px

			&-link
				font-size: 11px

		// &__search-header
		// 	margin-right: 35px

		&__social-item:not(:last-child)
			margin-right: 20px

		&__search-header
			right: 100px


	+width-md()
		padding: 11px 0

		&:not(.header--blur) + section,
		&:not(.header--blur) + div
			margin-top: 66px

		.header__menu--scroll
			display: none !important

		&__inner
			position: static

		&__social,
		&__phone-back-call,
		&__menu
			display: none

		&__inner
			justify-content: space-between

		&__logo
			max-width: 205px
			margin-right: 0

		&__box
			margin: 0

		&__phone
			margin-bottom: 0

			&-number
				margin-right: 0

				span
					font-size: 16px

		&__search

			&-header
				position: relative
				top: 0
				right: 0
				margin-right: 0

				&::after
					top: 34px

			&-body
				padding: 23px 80px

			&-input,
			&-btn
				height: 30px

		&__switch
			display: flex
			align-items: center

			&:hover
				cursor: pointer

			&-icon
				position: relative
				display: block
				width: 18px
				height: 14px
				padding: 0
				margin: 0
				margin-right: 11px
				z-index: 11

				span
					position: absolute
					top: calc(50% - 1px)
					left: 0
					display: block
					width: 100%
					height: 2px
					background-color: $color-text
		
					&::before, 
					&::after 
						content: ''
						position: absolute
						display: block
						left: 0
						width: 100%
						height: 2px
						background-color: $color-text
						transition-duration: 0.3s, 0.3s

					&::before 
						top: -5px
						transition-property: top, transform

					&::after 
						bottom: -5px
						transition-property: bottom, transform
				
			&--open 

				.header__switch

					&-icon span 
						background: none
				
						&::before, 
						&::after 
							transition-delay: 0s, 0.3s
							background-color: $color-primary
				
						&::before 
							top: 0
							transform: rotate(45deg)
					
						&::after 
							bottom: 0
							transform: rotate(-45deg)

					&-title
						color: $color-primary

			&-title
				font: 700 13px/1 $font-main
				text-transform: uppercase

		&__mob-menu
			position: fixed
			top: 63px
			left: 0
			display: block
			width: 100%
			height: calc(100% - 63px)
			padding: 50px 45px
			color: $white
			background-color: rgba(0, 0, 0, .95)
			overflow-y: auto
			+trs(all, .25s, ease-in)
			visibility: hidden
			opacity: 0
			transform: translateY(50px)


			&--open
				visibility: visible
				opacity: 1
				transform: translateY(0)

			&-inner
				display: flex
				flex-wrap: wrap
				justify-content: space-between
				align-items: flex-start

			&-col
				width: calc(50% - 25px)

			&-list
				margin-bottom: 50px
		
			&-title,
			&-link
				+trs()

				&:hover
					color: $color-primary

			&-title
				margin-bottom: 7px
				font: 700 16px/1 $font-main
				text-transform: uppercase

			&-item
				position: relative
				padding-left: 10px

				&::before
					content: ''
					position: absolute
					top: 12px
					left: 0
					width: 4px
					height: 4px
					border-radius: 50%
					background-color: $white
					+trs()

				&:hover::before
					background-color: $color-primary

			&-link
				font-size: 13px
				line-height: 18px

			&-contacts
				display: flex
				flex-direction: column
				align-items: flex-start

			&-address,
			&-email,
			&-phone
				margin-bottom: 10px

			&-address
				font-size: 13px
				line-height: 26px

			&-email
				display: inline-block
				font-size: 13px

			&-phone
				display: inline-block
				font-size: 16px

			&-btn
				height: 45px
				padding: 0 30px
				font-size: 14px

			&-social
				position: static
				display: inline-flex
				margin-top: -80px

				.header__social
				
					&-item:not(:last-child)
						margin-right: 40px

					&-icon
						width: 21px
						height: 21px
						fill: $white

						&:hover
							fill: $color-primary


	+width-sm()
		&:not(.header--blur) + section,
		&:not(.header--blur) + div
			margin-top: 52px

		&--fixed
			.header__logo
				max-width: 120px

		&__logo
			max-width: 140px

		&__mob-menu
			top: 52px
			height: calc(100% - 52px)
			padding: 40px 30px

			&-list
				margin-bottom: 40px
				width: calc(50% - 15px)


	+width-xs()
		padding: 10px 0

		&__mob-menu-col
			width: 100%

		&__phone-number span,
		&__search-text
			display: none

		&__logo
			max-width: 150px

		&__search
			&-body
				padding: 12px 18px

		&__switch

			&-icon
				width: 13px
				height: 12px
				margin-right: 5px

				span

					&::before 
						top: -4px

					&::after 
						bottom: -4px

			&-title
				font-size: 10px

		&__mob-menu

			&-inner
				flex-direction: column
				align-items: flex-start

			&-list
				width: 100%

			&-social
				margin-top: 0
